.app-content {
    display: flex;
    flex-direction: column;

}

.app-header {
    height: 50px;
    margin-left: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}


.router-outlet-content {
    margin-top: 60px;
    margin-left: 260px;
    padding: 40px;
}