<app-navbar></app-navbar>
<div class="app-container" [class.sidenav-expanded]="getExpanded" [class.sidenav-pinned]="getPinned">
  <app-sidenav></app-sidenav>
  <div class="app-content">
    <div class="app-header">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="router-outlet-content">
      <router-outlet class="router-outlet"></router-outlet>
    </div>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>
<p-toast key="topRight" position="top-right"></p-toast>