<div class="center-container">

  <p-dataView [value]="filteredProducts" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
    [paginatorPosition]="'bottom'" [layout]="selectedLayout" [sortOrder]="1" [sortField]="selectedSort">
    <ng-template pTemplate="header">
      <div class="flex justify-content-end">
        <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSort" [style]="{'width':'150px'}"></p-dropdown>
        <input class="search-bar" type="text" placeholder="Search by Name" [(ngModel)]="searchText" (input)="applySearch()" />
        <!-- <p-dataViewLayoutOptions [layout]="selectedLayout"></p-dataViewLayoutOptions> -->
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions> <!--not working-->

      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="product-item">
        <div class="category">{{ product.category }}</div>
        <div class="inventory-status">{{ product.inventoryStatus }}</div>
        <div class="name">{{ product.name }}</div>
        <div class="description">{{ product.description }}</div>
        <div class="rating">{{ product.rating }}/5</div>
        <div class="price">{{ product.price | currency}}</div>
      </div>
    </ng-template>
  </p-dataView>
</div>