.product-item {
    padding: 10px;

    .inventory-status {
        margin-bottom: 20px;
    }

    .rating {
        margin-bottom: 20px;
    }
}

.center-container {
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dropdown {
            margin-left: 8px;
        }

        .search-bar {
            display: inline-flex;
            height: 45px;
            border: 1px solid rgba(0, 0, 0, 0.38);
            border-radius: 4px;
            transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
            font-size: 1rem;
            font-family: Roboto;
            margin-left: 8px;
        }

        p-dataViewLayoutOptions {
            margin-left: auto;
            margin-right: 8px;
        }
    }
}